$red: #DB2828;
$green: #21BA45;

@import 'styles/heroes';
@import 'styles/match';
@import 'styles/matches';
@import 'styles/mmr';

* {
  font-family: 'Roboto'
}
body {
  color: white;
  background-color: rgb(48, 48, 62);
}
// fix for overflowing react-vis chart
svg:not(:root) {
  overflow: visible;
}