@import 'styles/heroes';
@import 'styles/matches';
@import 'styles/mmr';

body {
  background: #222;
  color: white;
}
// fix for overflowing react-vis chart
svg:not(:root) {
  overflow: visible;
}
.header-row {
  background: #1d1d1d;
  border-bottom: 1px solid #444;

  div {
    font-weight: bold;
  }
}